Repository yu519193401/what-is-grass-front: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace @what-is-grass/web eslint, yarn workspace @what-is-grass/mobile eslint, yarn workspace @what-is-grass/shared eslint, prettier --write

Change 開発時はsharedのbuildリセットしない
  packages/shared/package.json
Due: prettier --write

Refactor mswのresolverを外出し
  packages/shared/src/mocks/handlers.ts
  packages/shared/src/mocks/resolvers/resolverType.ts
  packages/shared/src/mocks/resolvers/user.ts
Due: yarn workspace @what-is-grass/shared eslint, prettier --write

Change 全ページでmswを初期化
  packages/web/pages/_app.tsx
  packages/web/pages/index.tsx
Due: yarn workspace @what-is-grass/web eslint

Add devとbuildのスクリプト
  package.json
Due: prettier --write

Update README.md
  README.md
Due: none

Add 質問投稿ページ
  packages/shared/src/mocks/handlers.ts
  packages/shared/src/mocks/resolvers/question.ts
  packages/web/pages/new-question.tsx
Due: yarn workspace @what-is-grass/web eslint, yarn workspace @what-is-grass/shared eslint, prettier --write

Add 回答投稿のモック
  packages/shared/src/mocks/handlers.ts
  packages/shared/src/mocks/resolvers/answer.ts
Due: yarn workspace @what-is-grass/shared eslint, prettier --write

Add 回答投稿ページ
  packages/web/pages/new-answer/[id].tsx
Due: yarn workspace @what-is-grass/web eslint

Install rtk & react-redux
  packages/shared/package.json
  packages/web/package.json
  yarn.lock
Due: prettier --write

Add reduxストア
  packages/shared/src/index.ts
  packages/shared/src/redux/features/question.ts
  packages/shared/src/redux/hooks.ts
  packages/shared/src/redux/store.ts
Due: yarn workspace @what-is-grass/shared eslint, prettier --write

Setup webにReduxを導入
  packages/web/pages/_app.tsx
  packages/web/pages/index.tsx
Due: yarn workspace @what-is-grass/web eslint

Add 検索機能
  packages/shared/src/mocks/handlers.ts
  packages/shared/src/mocks/resolvers/answer.ts
  packages/shared/src/mocks/resolvers/question.ts
  packages/web/components/AnswerItem.tsx
  packages/web/components/AnswerList.tsx
  packages/web/components/ListContainer.tsx
  packages/web/components/ListItem.tsx
  packages/web/components/SearchBar.tsx
  packages/web/pages/answers.tsx
  packages/web/pages/search.tsx
Due: yarn workspace @what-is-grass/web eslint, yarn workspace @what-is-grass/shared eslint, prettier --write

Add ユーザー登録画面
  packages/shared/src/mocks/handlers.ts
  packages/shared/src/mocks/resolvers/user.ts
  packages/web/pages/register.tsx
Due: yarn workspace @what-is-grass/web eslint, yarn workspace @what-is-grass/shared eslint, prettier --write

Add rtk queryのボイラープレート
  packages/shared/src/index.ts
  packages/shared/src/redux/services/word.ts
  packages/shared/src/redux/store.ts
  packages/shared/src/types.ts
  packages/web/pages/index.tsx
Due: yarn workspace @what-is-grass/web eslint, yarn workspace @what-is-grass/shared eslint, prettier --write

Fix リクエストがmswのセットアップ前に飛んでた問題
  packages/shared/src/redux/services/word.ts
Due: yarn workspace @what-is-grass/shared eslint, prettier --write

Add ユーザ情報変更
  packages/shared/src/mocks/handlers.ts
  packages/shared/src/mocks/resolvers/user.ts
  packages/web/pages/edituser.tsx
Due: yarn workspace @what-is-grass/web eslint, yarn workspace @what-is-grass/shared eslint, prettier --write

Change 質問投稿をrtk-query化
  packages/shared/src/index.ts
  packages/shared/src/redux/services/word.ts
  packages/shared/src/types.ts
  packages/web/pages/new-question.tsx
Due: yarn workspace @what-is-grass/web eslint, yarn workspace @what-is-grass/shared eslint, prettier --write

Ignore .vscode
  .gitignore
Due: none

Change 見出し検索をrtk-query化
  packages/shared/src/index.ts
  packages/shared/src/redux/services/word.ts
  packages/shared/src/types.ts
  packages/web/components/SearchBar.tsx
  packages/web/pages/index.tsx
  packages/web/pages/search.tsx
Due: yarn workspace @what-is-grass/web eslint, yarn workspace @what-is-grass/shared eslint, prettier --write

Move types => types/indexTypes
  packages/shared/src/index.ts
  packages/shared/src/redux/services/word.ts
  packages/shared/src/types/indexType.ts
Due: yarn workspace @what-is-grass/shared eslint, prettier --write

Change 回答投稿をrtk-query化
  packages/shared/src/index.ts
  packages/shared/src/redux/services/word.ts
  packages/shared/src/types/answer.ts
  packages/web/pages/new-answer/[id].tsx
Due: yarn workspace @what-is-grass/web eslint, yarn workspace @what-is-grass/shared eslint, prettier --write

Refactor NewAnswerRequest
  packages/shared/src/types/answer.ts
Due: yarn workspace @what-is-grass/shared eslint, prettier --write

Add 回答一覧Apiのエンドポイント
  packages/shared/src/index.ts
  packages/shared/src/redux/services/word.ts
  packages/shared/src/types/answer.ts
Due: yarn workspace @what-is-grass/shared eslint, prettier --write

Fix answersページの型情報
  packages/shared/src/mocks/resolvers/answer.ts
  packages/web/components/AnswerItem.tsx
  packages/web/components/AnswerList.tsx
Due: yarn workspace @what-is-grass/web eslint, yarn workspace @what-is-grass/shared eslint, prettier --write

Change 回答一覧取得をrtk-query化
  packages/web/pages/answers.tsx
Due: yarn workspace @what-is-grass/web eslint

Rename ListItemをIndexItemに
  packages/web/components/IndexItem.tsx
  packages/web/components/ListContainer.tsx
Due: yarn workspace @what-is-grass/web eslint

Remove ListContainer
  packages/web/components/IndexItem.tsx
  packages/web/components/ListContainer.tsx
  packages/web/pages/search.tsx
Due: yarn workspace @what-is-grass/web eslint

Move answersをanswers/[id]に
  packages/shared/src/index.ts
  packages/shared/src/redux/services/word.ts
  packages/web/components/IndexItem.tsx
  packages/web/pages/answers/[id].tsx
Due: yarn workspace @what-is-grass/web eslint, yarn workspace @what-is-grass/shared eslint, prettier --write

Add 検索リクエストの内容の保存機能
  packages/shared/src/index.ts
  packages/shared/src/redux/features/question.ts
  packages/web/components/SearchBar.tsx
  packages/web/pages/index.tsx
Due: yarn workspace @what-is-grass/web eslint, yarn workspace @what-is-grass/shared eslint, prettier --write

Add検索TO質問画面
  packages/web/components/SearchBar.tsx
  packages/web/pages/new-question.tsx
Due: yarn workspace @what-is-grass/web eslint

Add ページ遷移後の検索結果の保持
  packages/shared/src/index.ts
  packages/shared/src/redux/services/word.ts
  packages/web/components/SearchBar.tsx
Due: yarn workspace @what-is-grass/web eslint, yarn workspace @what-is-grass/shared eslint, prettier --write

Add 検索画面を無駄にスタイリング
  packages/web/components/IndexItem.tsx
Due: yarn workspace @what-is-grass/web eslint

Add 回答一覧画面から回答投稿画面へ遷移
  packages/web/pages/answers/[id].tsx
Due: yarn workspace @what-is-grass/web eslint

Add 質問済み一覧ページ
  packages/shared/src/index.ts
  packages/shared/src/redux/services/word.ts
  packages/shared/src/types/indexType.ts
  packages/web/pages/my-questions.tsx
Due: yarn workspace @what-is-grass/web eslint, yarn workspace @what-is-grass/shared eslint, prettier --write

Add user/question-listのモック
  packages/shared/src/mocks/handlers.ts
  packages/shared/src/mocks/resolvers/question.ts
Due: yarn workspace @what-is-grass/shared eslint, prettier --write

Add ログイン画面
  packages/shared/src/mocks/handlers.ts
  packages/shared/src/mocks/resolvers/user.ts
  packages/web/components/Login.tsx
  packages/web/pages/index.tsx
Due: yarn workspace @what-is-grass/web eslint, yarn workspace @what-is-grass/shared eslint, prettier --write

Add react-hook-form
  packages/web/package.json
  packages/web/pages/new-answer/[id].tsx
  yarn.lock
Due: yarn workspace @what-is-grass/web eslint, prettier --write

Fix NewAnswerRequestType
  packages/shared/src/types/answer.ts
Due: yarn workspace @what-is-grass/shared eslint, prettier --write

Add 例文配列の送信
  packages/web/pages/new-answer/[id].tsx
Due: yarn workspace @what-is-grass/web eslint

Path conditions:
  yarn workspace @what-is-grass/web eslint: any of: packages/web/**/*.{js,ts,tsx}
  yarn workspace @what-is-grass/mobile eslint: any of: packages/mobile/**/*.{js,ts,tsx}
  yarn workspace @what-is-grass/shared eslint: any of: packages/shared/**/*.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,json}
